<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/scripts/styles/vendor/pure.css">
  <link rel="stylesheet" type="text/css" href="/scripts/styles/main.css">
</head>
<body>
  {{{body}}}
</body>
</html>